.notificationcard {
  --primary-color: #486d48;
  --secondary-color: #C3EFAD;
  --border-color: #042100;
  --button-hover-color: #365936;
  --font-family: 'Roboto', sans-serif;
}

.notificationcard {
  display: flex;
  align-items: center;
  background-color: var(--secondary-color);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 15px;
  margin: 10px 0;
  min-width: 320px;
  height: 100px;
  font-family: var(--font-family);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.notificationcard:hover {
  transform: scale(1.02);
}

.notificationcard .icon {
  width: 40px;
  height: 40px;
  background-color: var(--primary-color);
  border-radius: 50%;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
}

.notificationcard .content {
  flex-grow: 1;
}

.notificationcard .content .header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.notificationcard .content .header .date {
  font-size: 14px;
  font-weight: 500;
  color: #555;
}

.notificationcard .content .header .title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.notificationcard .content .message {
  font-size: 14px;
  margin-top: 10px;
}

.notificationcard .content .message p {
  text-align: left;
  margin: 0;
  padding-left: 0;
}

.notificationcard .read-button,
.notificationcard .delete-button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: normal;
  transition: background-color 0.3s;
  margin-left: 10px;
}

.notificationcard .read-button:hover {
  background-color: var(--button-hover-color);
}

.notificationcard .delete-button {
  background-color: darkred;
}

.notificationcard .delete-button:hover {
  background-color :rgb(122, 1, 1);
}