/* Container styling */
.user-role-distribution {
  padding: 20px; /* Padding inside the container */
  text-align: center; /* Center the text */
}
  
/* Role item styling */
.user-role-distribution .role-item {
  display: flex;
  align-items: center;
  margin-left: 40px;
  gap: 20px;
  border-radius: 8px; /* Rounded corners */
  padding: 10px; /* Padding inside the role item */
  margin-bottom: 10px; /* Margin below each role item */
}
  
/* Icon styling */
.user-role-distribution .role-item img {
  width: 48px;
  height: 48px;
}
  
/* Text styling */
.user-role-distribution .role-item p {
  margin: 0;
  color: #333; /* Text color */
  position: relative;
  display: inline-block;
}

.user-role-distribution .role-item p::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #007bff; /* Match the theme color */
  bottom: -2px;
  left: 0;
  transition: width 0.3s ease-in-out;
}

.user-role-distribution .role-item p:hover::after {
  width: 100%;
}