/* Additional spacing for Navbar */
.support-container {
  padding-top: 20px; /* Adjust this value based on your Navbar height */
  font-family: "Poppins", sans-serif;
  /* min-height: calc(100vh - 0px); */
}

.support-container h1 {
  color: #2c3e50;
  font-size: 2.5rem;
  font-weight: 700;
}

.support-container h2 {
  color: #34495e;
  font-size: 1.8rem;
}

.support-container h3 {
  color: #34495e;
  font-size: 1.5rem;
}

.faq,
.contact_us {
  border-radius: 10px;
  background-color: lightgrey;
  border-style: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 50px;
}

.accordion-item {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.accordion-header {
  font-size: 1.2rem;
}

.form-control:focus {
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

.support-container button {
  border-radius: 30px;
  font-weight: 600;
}

/* Additional styles for cards */
.card {
  border: 1px solid #e1e1e1; /* Subtle border */
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Light shadow */
}

.card-header {
  background-color: #f7f7f7; /* Light background for headers */
  font-weight: bold;
  font-size: 1.25rem;
}

.card-body {
  padding: 20px; /* Padding for card body */
}
