body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.report-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.report-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.reportcontainer-1,
.reportcontainer-2 {
  flex: 1;
  padding: 20px;
}
.reportcontainer-1.h1 {
  color: white;
  font-size: larger;
}
.reportcontainer-1.h2 {
  color: white;
  font-size: large;
}

.reportcontainer-1 {
  background-color: rgb(9, 74, 9);
  font-size: 1.5rem;
  color: rgb(109, 106, 106);
}

.report-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.reportcontainer-2 {
  background-image: url("src/assets/appreal.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
